In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
#What is database?

In [3]:

"""Database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS)."""

'Database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).'

In [4]:
#Differentiate between SQL and NoSQL databases.
#SQL 
# relational database management system 
# these database have fixed structure format or static/ predefined schema 
# database are not suited for hierarchical data storage
# database best suited for complex queries 
# vertical scalable 
# follow ACID property

#NOSQL
# non relational / distributed database management system 
# these database have dynamic data. Different different database have different different format to store data. 
# database are best suited for hierarchical data storage
# database are not so good for complex queries 
# horizontally scalable 
# follow Cap (consistency, availability,partition tolerance ) property

In [5]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [7]:
"""Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL."""

'Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.'

In [2]:
#The TRUNCATE TABLE command deletes the data inside a table, but not the table itsel
# DROP DATABASE command is used is to delete an existing SQL database.
#The CREATE command is used to create indexes,tables,database  
#SQL Server Agent fires an alert when any error of the specific severity occurs.

#CREATE TABLE Persons (
    #PersonID int,
    #LastName varchar(255),
    #FirstName varchar(255),
    #Address varchar(255),
    #City varchar(255) 
#);

#DROP DATABASE DataBaseName;
#DROP TABLE;

#ALERT TABLE TableName
#Add ColumnName Datatype;
#ALERT TABLE student
#CHANGE(phone_no)(contact_no)

#TRUNCATE TABLE table_name;
#TRUNCATE table student;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [9]:
"""A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database."""

'A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database.'

In [10]:
"""DELETE is a DML SQL command that enables users to delete one or more existing records in database tables. 
However,this command of Data Manipulation Language does not delete the stored data permanently from the database."""
#DALETE FROM table_name[WHERE condition];
#DELETE FROM Employee
#WHERE FirstName= 'picard';

'DELETE is a DML SQL command that enables users to delete one or more existing records in database tables. \nHowever,this command of Data Manipulation Language does not delete the stored data permanently from the database.'

In [12]:
"""UPDATE Command-This DML SQL command is used to update or modify the value of a column in the table."""
#UPDATEB table_name SET[columnname1= value],...column_nameN= valeuN [WHERE CONDITION]
#UPDATE Employee
#SET FirstName= 'picard', LastName= 'Emirates'
#WHERE EmployeeID=3

'UPDATE Command-This DML SQL command is used to update or modify the value of a column in the table.'

In [14]:
"""INSERT is another major DML command in the SQL, which allows users to insert data into database tables"""
#INSERT INTO TABLENAME(column1,column2...columnN)Values(value1,value2,...valueN)

#INSERT INTO Employee(Emp_id, Emp_Name) VALUES(09, "picard")

'INSERT is another major DML command in the SQL, which allows users to insert data into database tables'

In [15]:
#Q4. What is DQL? Explain SELECT with an example.

In [17]:
"""Data Query Language- DQL is one of the finest SQL commands that is used to fetch the data from the database. The goal of DQL commands is to obtain the schema relationship based on the request that is passed to it. While often referred to as part of DML, the SQL SELECT statement is strictly an example of DQL.DQL uses only one command:
SELECT: It is used to retrieve data from the database."""
#SELECT expression FROM TABLE WHERE Conditions;
#"select * from test2.test.py"

'Data Query Language- DQL is one of the finest SQL commands that is used to fetch the data from the database. The goal of DQL commands is to obtain the schema relationship based on the request that is passed to it. While often referred to as part of DML, the SQL SELECT statement is strictly an example of DQL.DQL uses only one command:\nSELECT: It is used to retrieve data from the database.'

In [ ]:
#Q5. Explain Primary Key and Foreign Key.

In [18]:
"""A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. Table allows only one primary key."""

'A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. Table allows only one primary key.'

In [19]:
"""A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value."""

'A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value.'

In [20]:
"""A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity."""

'A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.'

In [24]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
#import mysql.connector
#mydb = mysl.connector.connect(
    #host= 'xyz'
    #user= 'abc'
    #password = 'password'
#)    
#print(mydb)
#mycursor = mydb.cursor()
#mycursor.execute("")

In [21]:
"""To create a connection between the MySQL database and Python, the connect() method of mysql.connector module is used."""

'To create a connection between the MySQL database and Python, the connect() method of mysql.connector module is used.'

In [27]:
""""A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query. This article will learn some deep information about the execute methods and how to use those methods in python.
We can create the cursor object through the mysql."""

'"A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query. This article will learn some deep information about the execute methods and how to use those methods in python.\nWe can create the cursor object through the mysql.'

In [29]:
"""The EXEC command is used to execute a stored procedure, or a SQL string passed to it."""

'The EXEC command is used to execute a stored procedure, or a SQL string passed to it.'

In [37]:
"""1.FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
2. WHERE:The WHERE clause is executed to filter out records that do not meet the constrains
3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows."""

'1.FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.\n2. WHERE:The WHERE clause is executed to filter out records that do not meet the constrains\n3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.\n\n4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.\n\n5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.\n\n6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.\n\n7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.'